@use "variables";

.headTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  @include font2(600);
  margin: 20px 0px 0px 0px;

  h2 {
    display: inline-block;
    color: $primaryColor;
    @include font1();
    font-size: 1.8rem;
  }
  span {
    color: $secondaryColor;
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    padding: 5px 10px 4px 10px;
    border: 1px solid $primaryColor;
    display: inline-block;
    line-height: normal;
    &:visited {
      text-decoration: none;
    }
    &:hover {
      background-color: $primaryColor;
      color: #fff;
      transition: 300ms all;
      -webkit-transition: 300ms all;
      -moz-transition: 300ms all;
      -ms-transition: 300ms all;
      -o-transition: 300ms all;
    }
  }
}

.kutu {
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  margin: 10px 0px;
  &:hover {
    transition: 200ms all;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all;
    -ms-transition: 200ms all;
    -o-transition: 200ms all;
  }

  .thumbnail {
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    img {
      background-size: cover;
      width: 100%;
      min-height: 100%;
    }
  }

  h2 {
    @include font1();
    font-size: 1.5rem;
    margin: 10px 0px;
    color: $primaryColor;
    a {
      color: $primaryColor;
      text-decoration: none;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
  p {
    @include font2(400);
    color: $darkColor;
    letter-spacing: 0.01rem;
  }
  .kutu-alt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
    .category {
      padding-left: 20px;
      @include font2(600);
      color: $darkColor;
      font-size: 0.9rem;
      position: relative;
      &::before {
        content: "\f101";
        font-family: "Font Awesome 6 Free";
        position: absolute;
        left: 0;
      }
      &:hover {
        color: $primaryColor;
        transition: 300ms all;
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -ms-transition: 300ms all;
        -o-transition: 300ms all;
      }
    }

    .readMore {
      color: $primaryColor;
      padding: 5px 10px 4px 10px;
      border: 1px solid $primaryColor;
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 600;
      &:visited {
        text-decoration: none;
      }
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        transition: 300ms all;
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -ms-transition: 300ms all;
        -o-transition: 300ms all;
      }
    }
  }
}

/** Photo Gallery **/

.photoGallery {
  background-color: $primaryColor;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 0px 20px 0px;
  overflow: hidden;
  

 

  

  .photos {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "pic1 pic1  pic2"
      "pic1 pic1  pic3"
      "pic1 pic1 pic4"
      "pic1 pic1 pic5";
    gap: 20px;
    padding: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }


  .photo {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    .photo-thumb{
      width: 30%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: 300ms all;
      padding: 5px;
      margin-right: 10px;
      border-radius:  10px  ;
      -webkit-border-radius:  10px  ;
      -moz-border-radius:  10px  ;
      -ms-border-radius:  10px  ;
      -o-border-radius:  10px  ;
      img{
        width: 100%;
        height: 100%;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
      
      }
    .photo-content{
      width: 70%;
      h3{
        font-size: 1rem;
        margin: 0px 0px;
        a{
          color: #fff;
          text-decoration: none;
          
          &:hover{
            color: $secondaryColor;
          }
          transition: 300ms all;
          -webkit-transition: 300ms all;
          -moz-transition: 300ms all;
          -ms-transition: 300ms all;
          -o-transition: 300ms all;
}
        
      }
      span{
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.5);
      }
      
    }

  }
  .photo:nth-of-type(1) {
    grid-area: pic1;
    overflow: hidden;
    
  }
  .featured{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
    padding: 0;
    
    img{
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .photo-content h3{
      position: absolute;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 20px;
      width: 100%;
      bottom: 0;
      left: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    span{
      display: none;
    }
    .photo-thumb{
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 0px;
      position: absolute;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
}
  }


}

/** Video Gallery **/
.videoGallery {
  background-color: $secondaryColor;
  min-height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px 0px 20px 0px;
  padding: 30px;
  overflow: hidden;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

 
  .video{
    width: 23%;
    min-height: 100px;
    overflow: hidden;
    .video-thumb{
      height: 200px;
      
      img{
        max-width: 100%;
        min-height: 100%;
        border: 3px solid transparent;
        transition: 300ms all;
        background-size: cover;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        &:hover{
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
        }
      }

    }
    h4{
      text-align: center;
      margin: 10px 0px 0px 0px;
      font-size: 1rem;
      color: #fff;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }

}
